<h1>Itinerary#new</h1>
<p>Find me in app/views/itinerary/new.html.erb</p>

<h1>New itinerary</h1>

    <div class="field">
        <p>
            <%= f.label :Title %>
            <br />
            <%= f.text_field :title %>
        </p>
    </div>
    <div class="actions">
    <%= f.submit %>
    </div>
    <% end %>